{% extends 'base.html.twig' %}

{% block title %}Edit Sauveteur{% endblock %}

{% block body %}
    <h1>Edit Sauveteur</h1>

    {{ include('sauveteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sauveteur_index') }}">back to list</a>

    {{ include('sauveteur/_delete_form.html.twig') }}
{% endblock %}
