<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sauvetware{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset("css/style.css") }}" type="text/css">
    {% block head %}{% endblock %}
</head>
<body>
<header>
    {% block header %}{% endblock %}
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer>
    {% block footer %}{% endblock %}
</footer>
</body>
</html>
